.common-header {
    padding-bottom: 0;
    border-bottom: thin solid var(--hr-color);
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: auto
}

header nav {
    flex: auto;
}
:root{
    --nav-bg-color: transparent
}